<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepção</title>
</head>

<body>

    <h1>Reservas</h1>
    <ul>
        {% for reserva in reservas %}
        <li>
            ID: {{ reserva.id }}
            - ID Hospede: {{ reserva.id_hospede_principal }}
            - Número Quarto: {{ reserva.numero_quarto }}
            - Data Checkin: {{ reserva.data_checkin }}
            - Data Checkout: {{ reserva.data_checkout }}
            - Status Reserva: {{ reserva.status_reserva }}
            - Valor Total: {{ reserva.valor_total }}
        </li>
        {% endfor %}
    </ul>
    
</body>

</html>